<div class="hero">
  <img height="100%" width="100%" src="{{ section.settings.hero_image | asset_url }}" alt="Hero Image">
  <h1>{{ section.settings.hero_heading }}</h1>
  <a href="{{ section.settings.cta_link }}" class="btn">{{ section.settings.cta_text }}</a>
</div>
{% schema %}
{
  "name": "Hero Section",
  "settings": [
    { "type": "image_picker", "id": "hero_image", "label": "Hero Image" },
    { "type": "text", "id": "hero_heading", "label": "Heading", "default": "My test theme" },
    { "type": "text", "id": "cta_text", "label": "Button Text", "default": "Shop Now" },
    { "type": "url", "id": "cta_link", "label": "Button Link", "default": "/" }
  ]
}
{% endschema %}
