<style>
  .hero {
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  .hero img {
    max-width: 80%;
    height: auto;
    object-fit: cover;
  }
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    z-index: 2;
  }
</style>

<div class="hero">
  <img height="auto" width="100%" src="{{ section.settings.hero_image | image_url }}" alt="Hero Image">

  <h1>{{ section.settings.hero_heading }}</h1>
  <a href="{{ section.settings.cta_link }}" class="btn">{{ section.settings.cta_text }}</a>
</div>
{% schema %}
{
  "name": "Hero Section",
  "settings": [
    { "type": "image_picker", "id": "hero_image", "label": "Hero  " },
    { "type": "text", "id": "hero_heading", "label": "Heading", "default": "My test theme" },
    { "type": "text", "id": "cta_text", "label": "Button Text", "default": "Shop Now" },
    { "type": "url", "id": "cta_link", "label": "Button Link", "default": "/" }
  ]
}
{% endschema %}
